body {
  background-color: #000000 !important;
}

.btn {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  color: #888;
  background-color: white;
  margin-bottom: 55px;
}
.btn--orange {
  border-color: #FF4136;
  background-color: #FF4136;
  color: white;
}
.btn__icon {
  padding: 3px;
  color: #fff;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
}

img {
  color: white;
  height: 85%;
  width: 25%;
  border: solid 5px;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

a:hover {
  color: inherit;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#quote, #author {
  background-position: left top;
  color: white;
  font-size: 22px;
  font-family: 'Noto Serif SC', serif;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 4s;
}

p {
  color: white;
}
